@model IEnumerable<NForum.Core.Category>
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/">Forum</a>
<ul>
	@foreach (var category in Model) {
		<li>
			<a href="/category/index/@category.Id">@category.Name</a>
			<ul>
				@foreach (var forum in category.Forums) {
					<li>
						<a href="/forum/index/@forum.Id">@forum.Name</a>
					<ul>
						@foreach (var child in forum.SubForums) {
							<a href="/forum/index/@child.Id">@child.Name</a>
						}

					</ul>
				</li>
				}
			</ul>
		</li>
	}
</ul>
